@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

:root{
    --box-shadow: 0 .5rem 1rem rgba(256,256,256,0.3);
}
*{
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all .2s linear;
}
body{
    background-image: url(./images/lidye-1Shk_PkNkNw-unsplash.jpg);
    background-attachment:fixed;
    background-position: center;
    background-size: cover;
    background-clip: content-box;
    
    
}
html{
    font-size: 62.5%;
    /* overflow: hidden; */
    scroll-padding-top: 5.5rem;
    scroll-behavior: smooth;
}
.logo{
    width:60px;
    height:auto;
}





.main-logo{
    display: flex;
   font-size: 2.5rem;
    align-items: center;
    width: 200px;
}
.main-logo h6{
    padding-left: 10%;
    color: rgb(255, 255, 255);
}

#menu-bars,#search-icon,.fa-heart,.fa-shopping-cart{
    color: white;
}

header{
    position:relative;
    top: 0;
    left: 0;
    right: 0;
    padding : 1rem 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    
}
header .navbar a{
    font-size: 1.7rem;
    padding: .5rem 1.5rem;
    color: white;
    text-decoration: none;

}
header .navbar a:hover,.active{
    border-radius:.5rem ;
    background: rgba(255, 255, 255, 0.25);
}

header .icons i,header .icons a{
    cursor: pointer;
    margin-left: .5rem;
    height: 4.5rem;
    line-height: 4.5rem;
    width: 4.5rem;
    text-align: center;
    font-size: 1.7rem;
    border-radius: 50%;
    background: rgba(238, 238, 238,0.25);
    
}

header .icons i:hover,header .icons a:hover{
    transform: rotate(360deg);
    
}

#menu-bars{
    display: none;
}




#search-form{
    position: fixed;
    top: 0%;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1004;
    background-color: rgba(0, 0, 0, 0.8);
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 0 1rem;
    clip-path: polygon(0 0,100% 0,100% 0,0 0);
}

#search-form #search-box{
    width: 50rem;
    border-bottom: .1rem solid white;
    padding: 1rem 0;
    color: white;
    font-size: 3rem;
    text-transform: none;
    background: none;
}
#search-form #search-box::placeholder{
    color: white;
}
#search-form label{
    color: white;
    cursor: pointer;
    font-size: 3rem;
}
#search-form label:hover{
    color: goldenrod;
}

#search-form #close{
    position: absolute;
    color: #fff;
    cursor: pointer;
    top: 2rem;
    right: 5rem;
    font-size: 5rem;

}
#search-form.active{
    clip-path: polygon(0 0,100% 0,100% 100%,0% 100%);
} 





.sl-img{
    width: 500px;
    height: 500px;
    border-radius: 50%;
}

section{
    padding: 2rem 2%;
}


.home .home-slider .slide{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap:2rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
    padding-left: 30px;
    margin-top: 160px;
    justify-content: space-between;
    background: rgba(255, 255, 255,0.15);
    border-radius: 10px;
    backdrop-filter:blur(8px);
}

.home .home-slider .slide .content{
    flex: 1 1 45rem;
    
}

.home .home-slider .slide .image{
    flex: 1 1 45rem;
    text-align: center;
    
}

/* .home .home-slider .slide .image img{
    width: 80%; 
    height: 45rem;
} */

.home .home-slider .slide .content span{
    color: white;
    font-size: 2.5rem; 
}

.home .home-slider .slide .content h3{
    color: rgb(255, 166, 0);
    font-size: 7rem; 
    line-height:7rem ;
}

.home .home-slider .slide .content p{
    color: white;
    font-size: 2rem; 
    padding: .5rem 0;
    
}




.sub-heading{
    text-align: center;
    color: rgb(255, 166, 0);
    font-size: 2rem;
    padding-top: 1rem;

}

.heading{
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 3rem;
    padding-top: 2rem;
    text-transform: uppercase;

}
.btn{
    margin-top: 1rem;
    display: inline-block;
    font-size: 1.7rem;
    color: white;
    border-radius: .5rem;
    cursor: pointer;
    padding: .8rem 3rem;
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.3);
}

.btn:hover{
    letter-spacing: .1rem;
}

.swiper-pagination-bullet-active{
    background: white;

}











.dishes{
    margin: 2rem 2%;
    
}

.dish-img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.dishes .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(48rem,1fr));
    gap: 3rem;
    margin-top: 5rem;
    text-align: center;

}

.dishes .box-container .box{
    padding: 2.5rem;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(8px);
    border-radius: .5rem;
    border:.1rem solid rgba(255, 255, 255, 0.2);
    position: relative;
    overflow: hidden;
    text-align: center;
}

.dishes .box-container .box .fa-heart{
    right: -15rem;
    color: red;
}
.dishes .box-container .box .fa-eye{
    left: -15rem;
    color:rgb(255, 255, 255) ;
}

.dishes .box-container .box:hover .fa-heart{
    right: 1.5rem;
}
.dishes .box-container .box:hover .fa-eye{
    left: 1.5rem;
}

.dishes .box-container .box .fa-heart,
.dishes .box-container .box .fa-eye{
    position: absolute;
    top: 1.5rem;
    /* background: white; */
    border-radius: 50%;
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem ;
    text-decoration: none;

}

.dishes .box-container .box .fa-eye:hover{
    color: white;
    background-color: rgb(0, 0, 0);
    border-radius: 50%;
}

.dishes .box-container .box .fa-heart:hover{
    color: white;
    background-color: rgb(0, 0, 0);
    border-radius: 50%;

}

.dishes .box-container .box h3{
    color: white;
    font-size: 2.5rem;
}

.dishes .box-container .box .stars{
    padding: 1rem 0;
}

.dishes .box-container .box .stars i{
    font-size: 1.7rem;
    color: rgb(255, 166, 0);
}

.dishes .box-container .box span{
    color: white;
    font-weight: bolder;
    margin-right: 1rem;
    font-size: 2.5rem;
}







.about .row{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
    align-items: center;
    margin-top: 5rem;
    width: 98%;
}

.about .row .image{
    flex: 1 1 45rem;
    text-align: center;
}

.about .row .image img{
    width: 80%;
}

.about .row .content{
    flex: 1 1 45rem;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(8px);
    padding: 20px;
    border-radius: .5rem;
}

.about .row .content h3{
    color:white ;
    font-size: 4rem;
    padding: .5rem 0;
}

.about .row .content p{
    color:white ;
    font-size: 1.5rem;
    padding: .5rem 0;
    line-height: 2;
}

.about .row .content .icons-container{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    padding: 1rem 0;
    margin-top:.5rem;
}

.about .row .content .icons-container .icons{
    background: white;
    border-radius: .5rem;
    border:.1rem solid rgba(0,0,0,.2);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    flex: 1 1 17rem;
    padding: 1.5rem 1rem;
}

.about .row .content .icons-container .icons i{
    font-size: 2.5rem;
    color:rgb(255, 166, 0);

}


.menu .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(48rem,1fr));
    gap: 3rem;
    margin-top: 5rem;
    text-align: center;
    
}

.menu .box-container .box{
    padding: 2.5rem;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(8px);
    border-radius: .5rem;
    border:.1rem solid rgba(255, 255, 255, 0.2);
    position: relative;
    overflow: hidden;
    text-align: center;
}

.menu .box-container .box .image .fa-heart{
    position: absolute;
    top: 2.5rem;
    right: 2.5rem;
    height:5rem;
    width: 5rem;
    line-height: 5rem;
    text-align: center;
    font-size: 2rem;
    border-radius: 50%;
    color: rgb(255, 255, 255);
    text-decoration: none;

}

.menu .box-container .box .image .fa-heart:hover{
    background-color: #fff;
    color: red;
}


.menu .box-container .box .content{
    padding: 2rem;
    
}

.menu .box-container .box .content .stars{
    padding-bottom: 1rem;
    
}

.menu .box-container .box .content .stars i{
    font-size: 1.7rem;
    color:rgb(255, 166, 0);
}

.menu .box-container .box .content h3{
    color: white;
    font-size: 2.5rem;
}

.menu .box-container .box .content p{
    color: white;
    font-size: 1.7rem;
    padding: 5rem 0;
    line-height: 1.5rem;
}

.menu .box-container .box .content .price{
    color: white;
    margin-left: 1rem;
    font-size: 2rem;
}










.review .slide{
    padding: 2rem;
    position: relative;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(8px); 
    border-radius: 5px;
}

.review-slider{
    margin-top: 5rem;
    scroll-behavior: none;
    overflow: hidden;

}
.review .slide .fa-quote-right{
    position: absolute;
    top: 2rem;
    right: 2rem;
    font-size: 6rem;
    color: white;
}

.review .slide .user{
    display: flex;
    gap: 2rem;
    align-items: center;
    padding-bottom: 1.5rem;
    
}

.review .slide .user img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}

.review .slide .user h3{
    color:white;
    font-size: 2rem;
    padding-bottom: .5rem;
}
.review .slide .user i{
    font-size: 1.3rem;
    color:rgb(255, 166, 0); 

}
.review .slide p{
    font-size: 1.5rem;
    line-height: 1.8rem;
    color: white;
}
.review .slide .user .stars{
    text-align: center;
}











.order form{
    width: 90rem;
    border-radius: .5rem;
    background: rgba(255, 255, 255,0.15);
    backdrop-filter:blur(8px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    margin: 5rem auto;
    padding: 1.5rem;
    overflow: hidden;
}

.order form .inputBox{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.order form .inputBox .input{
    width: 49%;
}

.order form .inputBox .input span{
    display: block;
    padding: .5rem 0;
    font-size:1.5rem;
    color:rgb(255, 166, 0);
}

.order form .inputBox .input input,
.order form .inputBox .input textarea{
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: .5rem;
    padding: 1rem;
    font-size: 1.6rem;
    color: white;
    text-transform: none;
    margin-bottom: 1rem;
    width :100%;
}

.order form .inputBox .input textarea{
    height: 20rem;
    resize: none;
}

.order form .inputBox .input input::placeholder,
.order form .inputBox .input textarea::placeholder{
    color: white;
    font-size: 1.2rem;
    opacity: 50%;
}






.footer{
    border-radius: .5rem;
    background: rgba(0, 0, 0, 0.15);
    backdrop-filter:blur(8px);
}

.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(25rem,1fr));
    gap: 1.5rem;
}

.footer .box-container .box h3{
    padding: .5rem 0;
    font-size: 2.5rem;
    color:rgb(255, 166, 0);
    text-decoration: none;
}

.footer .box-container .box a{
    display: block;
    padding: .5rem 0;
    font-size: 1.5rem;
    color:rgb(255, 255, 255);
    text-decoration: none;
}

.footer .box-container .box a:hover{
    display: inline;
    padding: 4px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: .5rem;
}


.footer .credit{
    color: white;
    text-align: center;
    border-top: .1rem solid rgba(255, 255, 255, 0.8);
    font-size: 2rem;
    padding: .5rem;
    padding-top: 1.5rem;
    margin-top: 1.5rem;

}
.footer .credit span{
    color:rgb(255, 166, 0);
}


/* All media queries */
@media (max-width:1015px){
    html{
        font-size: 50%;
    }
    header{
        padding: 1rem 2rem;
    }
    section{
        padding:2rem ;
    }
    
}
@media (max-width:768px){
    #menu-bars{
        display: inline-block;
    }
    .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        /* border-top: 1rem solid rgba(255, 255, 255, 0.15); */
        padding: 1rem;
        clip-path: polygon(0 0,100% 0,100% 0,0 0);

    }
    .navbar.active{
        clip-path: polygon(0 0,100% 0,100% 100%,0% 100%);
        
        
    }

    .navbar a{
        display: block;
        padding: 1.5rem;
        margin: 1rem ;
        font-size: 2rem;
    }
    .order form .inputBox .input{
        width: 100%;
    }
    .order form{
        width: 100%;
    }
}

.loader-container{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10000;
    background: black;
    justify-content: center;
    align-items: center;
    display: flex;
    overflow: hidden;
}

.loader-container img{
    width: 35rem;
}

.loader-container.fade-out{
    top: 110%;
    opacity: 0;
}


@media (max-width:600px){
    .sl-img{
        width: 300px;
        height: 300px;
        border-radius: 50%;
    }
    .footer .box-container{
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(15rem,1fr));
        gap: 2rem;
    }

}
@media (max-width:400px){
    
    
    .main-logo h6{
        font-size: 1.3rem;
    }
    header{
        padding: .5rem .5rem;
        margin-top: 5px;
        margin-left: 7px;
        margin-right: 7px;
    }
    header .icons i,header .icons a{
        font-size: 1.2rem;
        width: 3rem;
        height: 3rem;
        line-height: 3rem;
    }
    .navbar.active a{
        font-size: 1rem;
    }
    .home .home-slider .slide .content h3{
        color: rgb(255, 166, 0);
        font-size: 4rem; 
        line-height:5rem ;
    }

    .home .home-slider .slide{
        margin-top: 50px;
        padding-left: 10px;
    }
    .home .home-slider .slide .content span{
        color: white;
        font-size: 2rem; 
    }
    .home .home-slider .slide .content p{
        color: white;
        font-size: 1.5rem; 
        padding: .5rem 0;
        
    }
    
    .dishes .box-container{
        grid-template-columns: repeat(auto-fit,minmax(38rem,1fr));
    
    }

    .about .row{
        width: 100%;
    }
    .menu .box-container{
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(44rem,1fr));
        gap: 3rem;
        margin-top: 5rem;
        text-align: center;
        
    }

    

    
}

